@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (helpdeskOrders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var helpdeskOrder in helpdeskOrders)
            {
                <tr>
                    <td>@helpdeskOrder.Number</td>
                    <td>@helpdeskOrder.Title</td>
                    <td>@helpdeskOrder.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HelpdeskOrder[] helpdeskOrders;

    protected override async Task OnInitializedAsync()
    {
        var helpdeskQuery = new HelpdeskQuery()
        {
            Page = 1,
            PageSize = 10
        };

        var response = await Http.PostAsync("api/helpdesk/getlisthelpdesk", );


    }

    public class HelpdeskOrder
    {
        public int Id { get; set; }
        public string Number { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
        public DateTime Created { get; set; }
        public int CreatedBy { get; set; }
        public DateTime Modified { get; set; }
        public int ModifiedBy { get; set; }
        public int Category { get; set; }
        public int Priority { get; set; }
    }

    public class HelpdeskQuery
    {
        public int Page;
        public int PageSize;
    }
}
